$color: #FFB085;
.add-event-box {
  padding: 0 20rpx;
  .form-item {
    padding: 20rpx 0;
    border-bottom: 1px solid #eee;
  }
  .born-day {
    margin: 0;
    padding: 0;
  }
  .btn {
    width: 70%;
    height: 80rpx;
    line-height: 80rpx;
    border-radius: 20rpx;
  }
  .btn-submit {
    background: $color;
    margin-top: 50rpx;
    margin-bottom: 20rpx;
  }
  .btn-reset{
    border: 1px solid #eee;
  }
  .item-input{
    width: 70%;
    text-align: left;
  }
}
