page{
  background-color: #eee;
}
.editor-info-box{
  background: #fff;
  padding: 50rpx 0;
  width: 80%;
  margin: 20px auto;
  border-radius: 20rpx;
  box-shadow: 0px 0px 12px 0px rgba(204, 204, 204, 0.4);
  .avatar {
    width: 100rpx;
    height: 100rpx;
    border-radius: 50%;
    margin-right: 10rpx;
  }
  .editor-item {
    width: 100%;
    text-align: center;
    margin-bottom: 10rpx;
  }
  .edit-img {
    width: 40rpx;
    height: 40rpx;
  }
  .button-none-birthday{
    color: #d4cece;
  }
  .edit-btn{
    background: #FFB085;
    color: #fff;
  }
}