
page{
  background-color: #eee;
}
.verify-box{
  background: #fff;
  padding: 50rpx 0;
  width: 70%;
  margin: 150px auto 0 ;
  padding: 40rpx;
  border-radius: 20rpx;
  box-shadow: 0px 0px 12px 0px rgba(204, 204, 204, 0.4);
  .item-input{
    width: 100rpx;
  }
  .code-img{
    width: 80rpx;
    height: 80rpx;
    background:url('https://imagev2.xmcdn.com/storages/4401-audiofreehighqps/A4/81/GMCoOScGHCc8AAGT0AEzGcDd.png') no-repeat;
    background-size: 80rpx 80rpx;
    color: rgb(136, 127, 127);
    line-height: 80rpx;
    text-align: center;
  }
  .btn-submit{
    margin-top: 30rpx;
  }
  .item{
    margin: 20rpx 0;
  }
}