.no-list-box{
  width: 100%;
  height: 100%;
  padding-top: 200px;
  .img{
    margin:0 20%;
    width: 60%; 
    text-align: center;

  }
  .text{
    width: 100%;
    text-align: center;
    color: rgb(200, 196, 196);
  }
}