.my-box{
  padding: 0 29rpx;
}
.user-list-item {
  background: #fff;

  .avatar {
    width: 100rpx;
    height: 100rpx;
    border-radius: 50%;
    margin-right: 10rpx;
  }
 
}
.my-list-item {
  height: 100rpx;
  padding-left: 0;
  padding-right: 0;
  padding: 0 20rpx;
  border-bottom: 1rpx solid #eee;
  background: #fff;
  
  .more-img {
    width: 40rpx;
    height: 50rpx;
  }
  .verify-text{
    font-size: 26rpx;
    color: rgb(190, 187, 187);
  }
}
